<h2 id="discussion">Discussion</h2>
<p>Brigham Young had no issues with male-only dances. In fact, along with other LDS church leaders, Brigham actually organized male-only dances. These dances would exclude available women, including the wives of the participants. <a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a></p>
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p><a href="https://books.google.ca/books?id=UXVj398JvnsC&amp;pg=PA86&amp;lpg=PA86&amp;dq=Brigham+young+male+only+dnaves&amp;source=bl&amp;ots=WNDKGI6LIJ&amp;sig=M9XgiuMO9xCe_5oXCQ8P_PI0Eds&amp;hl=en&amp;sa=X&amp;redir_esc=y#v=onepage&amp;q=Brigham%20young%20male%20only%20dnaves&amp;f=false">Same-Sex Dynamics Among Nineteenth-Century Americans: A Mormon Example, by D. Michael Quinn, p 86</a><a href="#fnref1" class="footnote-back">&#8617;</a></p></li>
</ol>
</section>
