<h2 id="the-facts">The Facts</h2>
<p>Helen Mar Kimball was sealed to Joseph Smith when she was 14 years old. <a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a> She was the youngest of Smith's polygamous wives.</p>
<h2 id="discuss">Discuss</h2>
<ul>
<li>Was it legal for a 14 year old girl to marry a 37 year old man in 1843 Nauvoo?</li>
<li>Was it <em>common</em> for a 14 year old girl to marry a 37 year old man in 1843 Nauvoo?</li>
</ul>
<h2 id="resources">Resources</h2>
<p><a href="https://www.lds.org/topics/plural-marriage-in-kirtland-and-nauvoo">lds.org plural marriage essay</a></p>
<p><a href="https://en.wikipedia.org/wiki/Helen_Mar_Kimball">Helen Mar Kimball's Wikipedia page</a></p>
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p><a href="https://www.lds.org/topics/plural-marriage-in-kirtland-and-nauvoo">lds.org plural marriage essay</a><a href="#fnref1" class="footnote-back">&#8617;</a></p></li>
</ol>
</section>
