<h2 id="discussion">Discussion</h2>
<p>Of his 30 to 40 plural marriages, at least 8-11 were polyandrous (i.e. to women who were already married). <a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a></p>
<h2 id="further-reading">Further Reading</h2>
<ul>
<li>No Man Knows My History, Chapter ??</li>
<li><a href="https://www.fairmormon.org/answers/Joseph_Smith/Polygamy/Polyandry#Joseph_Smith_was_sealed_to_other_men.27s_wives">FAIR</a></li>
</ul>
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p><a href="http://www.mormonthink.com/joseph-smith-polygamy.htm">See the infographic at mormonthink</a><a href="#fnref1" class="footnote-back">&#8617;</a></p></li>
</ol>
</section>
