<h2 id="the-facts">The Facts</h2>
<p>The Strengthening the Church Members Committee is a watchdog group in the LDS church which monitors &quot;the publications of church members for possible criticism of local and general leaders of the church&quot;. <a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a> The committee's existence is controversial enough that church spokesman Michael Purdy initially claimed not to have any information about it, when asked about it in a 2012 BBC documentary. When pressed for details he did admit that it exists, but couldn't or wouldn't give any further information at the time of the interview. <a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a></p>
<h2 id="discuss">Discuss</h2>
<ul>
<li>Do you know of other churches with similar committees?</li>
<li>Can you think of any past or present political parties with similar committees?</li>
</ul>
<h2 id="resources">Resources</h2>
<ul>
<li><a href="http://www.imdb.com/title/tt2337651/">The Mormon Candidate, IMDB</a></li>
</ul>
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p><a href="https://en.wikipedia.org/wiki/Strengthening_Church_Members_Committee">Wikipedia</a><a href="#fnref1" class="footnote-back">&#8617;</a></p></li>
<li id="fn2"><p><a href="https://www.youtube.com/watch?v=uFSEgDtQfK0">The Mormon Candidate, BBC. Excerpt on YouTube.</a><a href="#fnref2" class="footnote-back">&#8617;</a></p></li>
</ol>
</section>
