<h2 id="the-facts">The Facts</h2>
<p>In 1854 Green Flake, a black slave, was given to the LDS church as payment of tithing. He then worked for 2 years for Brigham Young and Heber Kimball, before gaining his liberty. <a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a></p>
<h2 id="discuss">Discuss</h2>
<ul>
<li>Do you think keeping this slave for two years was the moral choice?</li>
<li>What do you think Jesus would have done in this situation?</li>
</ul>
<section class="footnotes">
<hr />
<ol>
<li id="fn1"><p><a href="http://cdmbuntu.lib.utah.edu/utils/getfile/collection/etd2/id/1565/filename/1453.pdf">Negro Slavery in Utah, Dennis Leo Lythgoe, University of Utah, August 1966</a><a href="#fnref1" class="footnote-back">&#8617;</a></p></li>
</ol>
</section>
