<h2 id="discussion">Discussion</h2>
<p>Zina Huntington was one of several women who were already married at the time they entered into a polygamous relationship with Joseph Smith.</p>
<p>The Plural Marriage essay on lds.org does not go into any detail on polyandry other than to state that &quot;Joseph Smith was sealed to a number of women who were already married&quot;.</p>
<h2 id="sources">Sources</h2>
<p><a href="https://www.lds.org/topics/plural-marriage-in-kirtland-and-nauvoo">lds.org plural marriage essay</a></p>
<p><a href="http://www.fairmormon.org/perspectives/fair-conferences/2006-fair-conference/2006-zina-and-her-men-an-examination-of-the-changing-marital-state-of-zina-diantha-huntington-jacobs-smith-young">FAIRMormon.org</a></p>
<p><a href="https://en.wikipedia.org/wiki/Zina_D._H._Young">Wikipedia page</a></p>
